.divrelative {
  position: absolute;
  padding-top: 20px;
}

.backbutton {
  width: 8%;
  border: none;
  background: none;
  z-index: 10;
  font-size: 0.5rem;
}

.back-button-img {
  height: 50px;
  border: solid 1px black;
  border-radius: 50%;
}