@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.h1 {
  /* https://www.fontspace.com/cat-cafe-font-f24359 */
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #E5D1FA;
}

i {
  font-size: 0.8rem;
  line-height: 0.8rem;
}